{
  "presets": [
    "@babel/preset-react"
  ],
  "env": {
    "development": {},
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-react-constant-elements"
      ]
    }
  }
}
